<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body bgcolor="cyan">
<form action="register" method="post" align="center">
  {% csrf_token %}
  <input type="text" name="username" placeholder="username"><br><br>
  <input type="text" name="first_name" placeholder="first_name"><br><br>
  <input type="text" name="last_name" placeholder="last_name"><br><br>
  <input type="email" name="email" placeholder="email"><br><br>
  <input type="password" name="password1" placeholder="password1"><br><br>
  <input type="password" name="password2" placeholder="confirm password"><br><br>
  <input type="submit" value="registration">
</form>
<div>
  {% for message in messages %}
  <h4>{{message}}</h4>
  {% endfor %}
</div>

</body>
</html>